/* ==========================
        NAVBAR
========================== */

.navbar{

    width:100%;
    min-height:90px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:10px 25px;

    background:#d7d7d4;

    gap:15px;

    box-sizing:border-box;

}


/* LOGO */


.logo-section{

    display:flex;

    align-items:center;

    gap:10px;

    flex-shrink:0;

}


.logo-imgs{

    width:65px;

    height:65px;

    border-radius:50%;

    object-fit:cover;

    background:white;

    padding:3px;

}


.logo-section span{


    font-size:32px;

    font-weight:900;

    background:linear-gradient(
        90deg,
        #3b0b0b,
        #ff7b00
    );

    -webkit-background-clip:text;

    -webkit-text-fill-color:transparent;

}


/* LINKS */


.nav-links{


    flex:1;

    display:flex;

    justify-content:center;

    align-items:center;


    gap:18px;


}


.nav-item{


    text-decoration:none;

    color:#390e0e;


    font-size:19px;


    padding:10px 12px;


    border-radius:10px;


    white-space:nowrap;


}


.nav-item.active{

    background:#e6bfda;

}


.nav-item:hover{

    background:#e6bfda;

}



/* RIGHT SIDE */


.right-buttons{


    display:flex;


    align-items:center;


    gap:15px;


    flex-shrink:0;

}



.notification-icon{


    width:50px;


    height:50px;


    border-radius:50%;


    background:white;


    display:flex;


    align-items:center;


    justify-content:center;


    color:black;


    font-size:26px;


    text-decoration:none;


}


.login-btn{


    padding:15px 22px;


    border:none;


    border-radius:8px;


    background:#88737b;


    color:white;


    font-size:17px;


    cursor:pointer;

}





/* =========================
   LAPTOP RESPONSIVE FIX
========================= */


@media(max-width:1300px){


.logo-section span{

    font-size:27px;

}


.logo-imgs{

    width:55px;

    height:55px;

}


.nav-links{

    gap:8px;

}


.nav-item{

    font-size:17px;

    padding:8px;

}


.login-btn{

    padding:12px 18px;

}



}





/* =========================
        MOBILE
========================= */


@media(max-width:768px){


.navbar{

    flex-direction:column;

    height:auto;

}



.nav-links{


    width:100%;


    flex-direction:column;


}


.nav-item{

    width:90%;

    text-align:center;

}


.right-buttons{

    flex-direction:column;

}


}
