.addfood-page {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, #ff416c, #ff4b2b);

  display: flex;
  justify-content: center;
  align-items: center;
}

.addfood-container {
  width: 420px;

  background: white;

  padding: 40px;

  border-radius: 20px;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;

  gap: 18px;
}

.addfood-container h2 {
  text-align: center;

  color: #333;

  margin-bottom: 10px;

  font-size: 32px;
}

.addfood-container input,
.addfood-container textarea {
  width: 100%;

  padding: 14px;

  border: 1px solid #ccc;

  border-radius: 10px;

  font-size: 16px;

  outline: none;

  transition: 0.3s;
}

.addfood-container input:focus,
.addfood-container textarea:focus {
  border-color: #ff416c;

  box-shadow: 0 0 5px rgba(255, 65, 108, 0.4);
}

.addfood-container textarea {
  height: 100px;

  resize: none;
}

.addfood-container button {
  padding: 14px;

  border: none;

  border-radius: 10px;

  background: #ff416c;

  color: white;

  font-size: 18px;

  cursor: pointer;

  transition: 0.3s;
}

.addfood-container button:hover {
  background: #ff4b2b;
}

@media screen and (max-width: 500px) {
  .addfood-container {
    width: 90%;
    padding: 25px;
  }
}