.about-page {
  font-family: Arial;
}

/* HERO */
.about-hero {
  height: 300px;
  background: url("https://i.pinimg.com/1200x/ce/f6/56/cef6560d41c7865fd72bc90220770f50.jpg") center/cover;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  color: white;
}
.about-box{
   max-width: 1900px;      /* controls width */
  width: 100%;
  margin: 10px auto;     /* centers box */
  padding: 25px;
  background: #1a0318;
  border-radius: 10px;
  color: white;
}

.about-hero  {
  font-size: 30px;
 justify-content: center;
}

/* INTRO */
.about-intro {
  text-align: center;
  padding: 40px 20px;
}

.video-box {
  position: relative;
  width: 60%;
  margin: 20px auto;
}

.video-box img {
  width: 100%;
  border-radius: 12px;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: red;
  color: white;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
}

/* FEATURES */
.section-title {
  text-align: center;
  margin: 40px 0 20px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 0 20px;
}

.feature-cards {
  background: #1a0318;
  padding: 20px;
  border-radius: 12px;
}

.mission{
  background: #1a0318;
  padding: 20px;
  border-radius: 12px;
  padding: 30px;
  margin: 40px 20px;
}
.mission h2{
  text-align: center;
  justify-content: center;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.blue { background: #dbeafe; }
.orange { background: #fde68a; }
.purple { background: #e9d5ff; }
.green { background: #d1fae5; }
.pink { background: #fbcfe8; }
.yellow { background: #fef9c3; }

/* CHEFS */
.chef-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.chef-card {
  text-align: center;
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(212, 194, 194, 0.1);
}

.chef-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}